# This workbook converts the retweet file into a usable format

In [1]:
import pandas as pd

In [24]:
df = pd.read_csv(filepath_or_buffer='../data/retweetby.csv', encoding='latin')
df.head()

,Unnamed: 0,origin_id,user
0,0,961021728427298816,"{'id': 993831828, 'id_str': '993831828', 'name..."
1,0,961021728427298816,"{'id': 3035248939, 'id_str': '3035248939', 'na..."
2,0,961021728427298816,"{'id': 1877471964, 'id_str': '1877471964', 'na..."
3,0,961021728427298816,"{'id': 2440919266, 'id_str': '2440919266', 'na..."
4,0,961021728427298816,"{'id': 259036071, 'id_str': '259036071', 'name..."

In [25]:
import ast
df.user = df.user.apply(lambda x: ast.literal_eval(x))
userdf = pd.DataFrame(df.user.tolist())
userdf['origin_tweetid'] = df.origin_id
userdf.head()

,contributors_enabled,created_at,default_profile,default_profile_image,description,entities,favourites_count,follow_request_sent,followers_count,following,...,profile_use_background_image,protected,screen_name,statuses_count,time_zone,translator_type,url,utc_offset,verified,origin_tweetid
0,False,Thu Dec 06 21:13:50 +0000 2012,True,True,,{'description': {'urls': []}},8,False,28,False,...,True,False,ca_watters,63,None,none,None,NaN,False,961021728427298816
1,False,Sat Feb 21 21:56:02 +0000 2015,False,False,"24 Rotating taps,800ish bottled beers,wine,cid...",{'url': {'urls': [{'url': 'https://t.co/4cqFLt...,3344,False,1096,False,...,False,False,BensBottleShop,3819,None,none,https://t.co/4cqFLtpQ8l,NaN,False,961021728427298816
2,False,Wed Sep 18 01:05:31 +0000 2013,False,False,Brewery insurance program working with A rated...,{'url': {'urls': [{'url': 'http://t.co/ub9gqz4...,7387,False,402,False,...,True,False,BrewandCovered,1299,None,none,http://t.co/ub9gqz4V8z,NaN,False,961021728427298816
3,False,Thu Mar 27 23:27:02 +0000 2014,True,False,Barley Road is devoted to good beer and good p...,{'url': {'urls': [{'url': 'https://t.co/XiIjrn...,803,False,84,False,...,True,False,BarleyRoad,10222,Eastern Time (US & Canada),none,https://t.co/XiIjrnqsyI,-18000.0,False,961021728427298816
4,False,Tue Mar 01 01:07:24 +0000 2011,False,False,"Cervecero de Guayaquil,\namante de la cerveza,...",{'description': {'urls': []}},24066,False,492,False,...,True,False,Guayaquil_beer,4738,Quito,none,None,-18000.0,False,961021728427298816

### For now we will avoid using the user entities 
this contains ulrs within there descrption as well as if they have one in the URL field within there account (already included in userdf)

In [50]:
userentities = userdf[userdf['entities'].notnull()][['entities','id']]
pd.DataFrame(userentities.entities.tolist()).head()

,description,url
0,{'urls': []},NaN
1,"{'urls': [{'url': 'https://t.co/9N9dIqbbJI', '...","{'urls': [{'url': 'https://t.co/4cqFLtpQ8l', '..."
2,{'urls': []},"{'urls': [{'url': 'http://t.co/ub9gqz4V8z', 'e..."
3,{'urls': []},"{'urls': [{'url': 'https://t.co/XiIjrnqsyI', '..."
4,{'urls': []},NaN

In [52]:
userdf.loc[1]

contributors_enabled                                                              False
created_at                                               Sat Feb 21 21:56:02 +0000 2015
default_profile                                                                   False
default_profile_image                                                             False
description                           24 Rotating taps,800ish bottled beers,wine,cid...
entities                              {'url': {'urls': [{'url': 'https://t.co/4cqFLt...
favourites_count                                                                   3344
follow_request_sent                                                               False
followers_count                                                                    1096
following                                                                         False
friends_count                                                                       880
geo_enabled                                                                        True
has_extended_profile                                                              False
id                                                                           3035248939
id_str                                                                       3035248939
is_translation_enabled                                                            False
is_translator                                                                     False
lang                                                                                 en
listed_count                                                                         58
location                                                 8052 East Mill Plain Blvd Vanc
name                                                                  Ben's Bottle Shop
notifications                                                                     False
profile_background_color                                                         000000
profile_background_image_url           http://abs.twimg.com/images/themes/theme1/bg.png
profile_background_image_url_https    https://abs.twimg.com/images/themes/theme1/bg.png
profile_background_tile                                                           False
profile_banner_url                    https://pbs.twimg.com/profile_banners/30352489...
profile_image_url                     http://pbs.twimg.com/profile_images/5877839109...
profile_image_url_https               https://pbs.twimg.com/profile_images/587783910...
profile_link_color                                                               FF691F
profile_sidebar_border_color                                                     000000
profile_sidebar_fill_color                                                       000000
profile_text_color                                                               000000
profile_use_background_image                                                      False
protected                                                                         False
screen_name                                                              BensBottleShop
statuses_count                                                                     3819
time_zone                                                                          None
translator_type                                                                    none
url                                                             https://t.co/4cqFLtpQ8l
utc_offset                                                                          NaN
verified                                                                          False
origin_tweetid                                                       961021728427298816
Name: 1, dtype: object

In [53]:
userdf.to_csv('../data/retweetUsers.csv')