# create sub tables for entities
do not worrie about extended_entities as its values are within entities (seems to be specific to photos)

In [2]:
import glob
import pandas as pd
pd.__version__

'0.20.3'

In [21]:
df = pd.read_csv(filepath_or_buffer='../data/BrewersAssoc.csv', encoding='latin')
df2 = pd.read_csv(filepath_or_buffer='../data/craftbeerdotcom.csv', encoding='latin')
df3 = pd.read_csv(filepath_or_buffer='../data/HomebrewAssoc.csv', encoding='latin')
dfs = [df, df2, df3]
comb = pd.concat(dfs)

In [22]:
import ast
comb.entities = comb.entities.apply(lambda x: ast.literal_eval(x))
entitiesDf = comb.entities.apply(pd.Series)
entitiesDf['tweet_id'] = df.id.astype('str')
entitiesDf.head()

,hashtags,media,symbols,urls,user_mentions,tweet_id
0,[],NaN,[],"[{'url': 'https://t.co/fmISNP4twQ', 'expanded_...",[],961021728427298816
1,"[{'text': 'brewing', 'indices': [64, 72]}]",NaN,[],"[{'url': 'https://t.co/Xv0zmi7eqj', 'expanded_...","[{'screen_name': 'CrystalLakeBrew', 'name': 'C...",961000377490526209
2,"[{'text': 'beers', 'indices': [51, 57]}, {'tex...","[{'id': 960948767502602243, 'id_str': '9609487...",[],"[{'url': 'https://t.co/C3V5Jq8RWu', 'expanded_...",[],960948770618912769
3,"[{'text': 'beerbiz', 'indices': [50, 58]}, {'t...",NaN,[],"[{'url': 'https://t.co/GJUKNLQ38r', 'expanded_...",[],960897807581196288
4,[],NaN,[],[],"[{'screen_name': 'LottePeplow', 'name': 'Hoppy...",960895367813345280

In [23]:
hashtagDf = entitiesDf.hashtags.apply(pd.Series)
hashtagDf.index = entitiesDf['tweet_id']
hashtagDf = hashtagDf.stack().to_frame()
hashtagDf = hashtagDf.reset_index()
sub = hashtagDf[0].apply(pd.Series)
sub['tweet_id'] = hashtagDf['tweet_id']
sub.head()

     indices             text            tweet_id
0   [64, 72]          brewing  961000377490526209
1   [51, 57]            beers  960948770618912769
2  [99, 107]          beerbiz  960948770618912769
3   [50, 58]          beerbiz  960897807581196288
4   [59, 75]  independentbeer  960897807581196288

In [25]:
variables = locals()
for i in range(0,len(entitiesDf.dtypes)):
    if entitiesDf.dtypes[i]=='object':
        mid = entitiesDf[entitiesDf.columns.tolist()[i]].apply(pd.Series)
        mid.index = entitiesDf['tweet_id']
        mid = mid.stack().to_frame()
        mid = mid.reset_index()
        sub = mid[0].apply(pd.Series)
        sub['tweet_id'] = mid['tweet_id']
        variables["{0}Df".format(entitiesDf.columns.tolist()[i])] = sub
        variables["{0}Df".format(entitiesDf.columns.tolist()[i])].to_csv('../Data/{0}.csv'.format(entitiesDf.columns.tolist()[i]),
                                                                         index=False)

In [11]:
df.id.loc[0]

961021728427298816

In [26]:
entitiesDf.loc[0]

,hashtags,media,symbols,urls,user_mentions,tweet_id
0,[],NaN,[],"[{'url': 'https://t.co/fmISNP4twQ', 'expanded_...",[],961021728427298816
0,[],NaN,[],"[{'url': 'https://t.co/SlvSE16DvN', 'expanded_...","[{'screen_name': 'BellsBrewery', 'name': 'Bell...",961021728427298816
0,"[{'text': 'beer', 'indices': [37, 42]}, {'text...",NaN,[],"[{'url': 'https://t.co/0kdZGv8fix', 'expanded_...",[],961021728427298816